*{
   background-color: 'rgb( 240 241 243 )';
}

.search{
    width: 80%;
    margin-top: 20px;
    border-radius: 5px;
    height: 38px;
}

.imageCards{
    margin-top: 20px;
}

.listOrder{
    list-style: none;
    font-size: 20px;   
}

.listOrder li{
    margin-top: 30px;
}

.listOrder .spanlist_price{
    margin-left: 20px;
}

.emptyCart_para{
    color: blue;
    text-align: center;
    font-size: 20px;
}

.cart_image{
    font-size: 50px;
    text-align: center;
}

.list_image{
    height:40px;
    width: 40px;
}

.cards{
    max-height: 276px;
    max-width: 250px;
    
}

.delete_button{
    margin-left: 20px;

}

.priceQty_tag{
    font-weight: bolder;
}

.proceed_button{
    margin-left: 100px;
}

.addtobillbutton_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container:hover .cards {
    transform: scale(1.02);
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .cards {
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }

  .cards{
    border-radius: 20px;
    overflow: hidden;
  }

 .sidebar_div{
    background-color: #0097a7;
    
    width: 80px;
    min-height: 2800px;
 } 

 .sidebarMain_div{
    position: fixed;
 }

 .sidebarlist_div{
  position: absolute;
  margin-top: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
 }

 .sidebarlist_div ul{
    list-style: none;
 }

.mag_glass{
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

.home{
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;

}

.magglass_div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #90a4ae;
    
    margin-left: -25px;
    margin-top: 15px;
}

.magglass_div :hover text{
   
}



@media (max-width: 700px){

    .appmid_div{
        margin-left: 40px;
       
    }

}
@media (max-width: 800px){

    .appmid_div{
        margin-left: 100px;
        width: 200px;
       
    }

    .appcart_div{
margin-left: 100px;
    }


}

@media (max-width: 900px){

    .appmid_div{
        margin-left: 10px;
       
    }

}
  
@media (max-width: 400px){

    .appmid_div{
        margin-left: 80px;
       
    }

}

@media (max-width:820px){
    .appcart_div{
        width: 350px;
    }
    .appmid_div{
        width: 380px;
    }
    .cards{
        margin-left: 30px;
    }
}

@media (max-width:1000px){
    .appcart_div{
        width: 350px;
    }
    .appmid_div{
        width: 380px;
    }
    .cards{
        margin-left: 80px;
    }
    .imageCards{
        margin-left: -40px;
    }
}



.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

